/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  background-color: inherit;
  color: inherit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 120px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.


/*****************************************************************************
* Breadcrumbs Dark Mode Fix
*****************************************************************************/

html[data-theme='dark'] {
  .breadcrumb {
    background-color: var(--global-bg-color) !important;
    border-color: var(--global-divider-color) !important;
  }

  .breadcrumb-item {
    color: var(--global-text-color) !important;

    a {
      color: var(--global-theme-color) !important;
    }

    &.active {
      color: var(--global-text-color-light) !important;
    }

    &+.breadcrumb-item::before {
      color: var(--global-text-color-light) !important;
    }
  }
}